@import '../../variables.scss';

.label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: $boldText;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../../assets/icon/selectArrow.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 22px;
    padding: 1rem;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.5;
    color: #3F4E65;
    border: none;
}