@import '../../variables.scss';

.cardBlock {
    padding-top: 30px;
    padding-bottom: 211px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    margin-bottom: 56px;

    @media screen and (max-width: 800px) {
        &{
            justify-content: center;
        }
    }
}

.text {
    text-align: left;
    line-height: 1.5;
}