@import "../variables.scss";

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalogTitle {
    text-align: left;
    font-size: $titleFontSize;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: $boldText;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.contentBlock {
    display: flex;
}