@import "../../variables.scss";

.breadcrumbs {
    text-align: left;
    margin-bottom: 50px;

    @media screen and (max-width: 500px) {
        margin-bottom: 13px;
    }
}

.crumb {
    padding: 10px;
    font-weight: 300;
}

.line {
    border: 1px dashed $mainText;
}